* {
    font-family: 'Roboto', sans-serif;


}

a[href='http: //example.com'] {
    color: purple;
}

span,
div {
    border: lightcoral 2px solid;
}



header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img {
    display: none;
}

.video summary {
    margin-bottom: 2vh;
}

video {
    width: 20rem;
    height: 10rem;
    margin-bottom: 2vw;
    display: block;
}

button {

    display: inline-block;
    outline: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 5px;
    border: 1px solid #222222;
    background: #fff;
    color: #222222;

}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topic {
    display: flex;
    flex-direction: column;
}

.topic a {
    font-size: 2rem;
    text-decoration: none;

    color: rgb(238, 130, 238);
}

.topic a:hover {
    color: aqua;
}

.topic a:hover:nth-child(1) {
    color: aqua;

}

.topic>a {
    font-family: 'cursive';
}

.topic~a {
    font-family: 'cursive';
    font-size: 100px;
}

.oldTopic {
    margin-top: 15px;
    border: 1px solid hsl(39, 100%, 50%);
}

.oldTopic h1:has(+ p) {
    margin-bottom: 15em;
}

.todayTopic {
    margin-top: 15px;
    border: 1px solid blue;
    padding: 10px 10px 10px 10px;
}

.topicDetail {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 300px;
    position: relative;
}

.topicDetail h3:active {
    color: green;
}

.topicDetail ul {
    border: 1px solid color-mix(method, color1[ p1], color2[ p2])
}

.topicDetail ul:nth-child(3) {
    border-radius: 20%;
    margin: 25px 50px 75px 100px;
}

.topicDetail ul:nth-child(4) {
    border-radius: 50%;

}

.topicDetail img {
    position: absolute;
    left: 50%;

}

.example h2~p {

    color: blue;

}

.example2 h2+p {
    color: blanchedalmond;
}

@media (min-width: 1200px) and (max-width: 400px) {

    .topicDetail ul:nth-child(3) {
        border-radius: 10%;
        margin: 10px 10px 10px 10px;
        color: yellowgreen;
    }
}

footer {
    margin: auto;
    width: 270px;
    /*width must*/
}








/* CSS */